@use '../abstracts/' as *;

.auxiliary-search {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 1.125rem;
  min-width: 170px;
  position: relative;
  z-index: 2;

  ::placeholder {
    color: #fff;
    opacity: 0.5;
  }

  summary {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .inputRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 1rem 0 0;

    input {
      flex: 1;
      padding: 1rem 0 1rem 1rem;
    }

    img {
      transform: rotate(180deg);
    }
  }

  input {
    color: #fff;
  }

  ul {
    display: grid;
    padding: 0.5rem 1rem 1rem 1rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    max-height: 24.5rem;
    overflow-y: auto;

    button {
      color: #fff;
      cursor: pointer;
      text-align: left;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &[open] {
    summary {
      display: none;
    }
  }

  &.ingredients-color {
    @include darken-hover($color-accent-first);
  }
  &.appliance-color {
    @include darken-hover($color-accent-second);
  }
  &.ustensils-color {
    @include darken-hover($color-accent-third);
  }
}
