@use '../abstracts/' as *;

.result-card {
  height: 380px;
  width: 364px;
  border-radius: 5px;
  background-color: $color-background-500;
  display: flex;
  align-items: flex-end;
  overflow: hidden;

  &__content {
    background-color: $color-background-300;
    flex: 1;
    padding: 0.75rem;
    height: calc(100% - 180px);

    &__head {
      display: flex;
      justify-content: space-between;
      font-size: 1.125rem;
      margin-bottom: 1rem;
      align-items: start;

      h2 {
        font-weight: 400;
        font-size: 1em;
      }

      .timer {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        min-width: 6rem;
      }
    }

    &__body {
      font-size: 0.75rem;
      display: flex;
      justify-content: space-between;

      ul {
        width: 40%;
      }

      li {
        line-height: 1.2;
      }

      p {
        line-height: 1.2;
        -webkit-line-clamp: 7;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        max-height: calc(7 * 1rem);
        overflow: hidden;
        width: 55%;
      }
    }
  }
}
