@charset "UTF-8";
/* Dimensionnement des box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Supprime le margin par défaut */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Défini les valeurs par défaut du root */
html:focus-within {
  scroll-behavior: smooth;
}

/* Défini les valeurs par défaut du body*/
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* facilite l'utilisation des images*/
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Hérite des polices pour les inputs et les boutons */
input,
button,
textarea,
select {
  font: inherit;
  border: 0;
  background: inherit;
}

/* Supprime les icônes  de base pour la saisie  recherche */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* pas de couleur + Supprime le soulignement sur les liens */
a {
  text-decoration: none;
  color: inherit;
}

/*  Suppression du style  et padding sur  ul*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Supprime tout les animations, transitions  pour les personnes qui préfèrent ne pas les voir */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  padding-top: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

main {
  margin-top: 1rem;
}

::placeholder {
  opacity: 0.75;
}

.filter-tags {
  margin: 1.5rem 0;
  display: flex;
  gap: 1rem;
}

.auxiliary-search-group {
  display: flex;
  gap: 1rem;
}

.result-group {
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d04e4e;
  font-family: "DM Sans", sans-serif;
  font-size: 2.25rem;
}
h1 img {
  width: 50px;
}

.main-search {
  background-color: #e8e8e8;
  width: 100%;
  height: 70px;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  position: relative;
  font-size: 1.125rem;
}
.main-search::after {
  content: "";
  background-image: url("../img/search.svg");
  display: flex;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
}
.main-search input {
  background-color: transparent;
  flex: 1;
  padding-left: 1.5rem;
  height: 100%;
  cursor: pointer;
}

.tag {
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 1.25rem;
  align-items: center;
  font-size: 0.875rem;
}
.tag.ingredient-color {
  background-color: #3180f6;
}
.tag.ingredient-color:hover {
  background-color: #3176dd;
}
.tag.equipment-color {
  background-color: #68d9a4;
}
.tag.equipment-color:hover {
  background-color: #68c399;
}
.tag.ustensils-color {
  background-color: #ed6454;
}
.tag.ustensils-color:hover {
  background-color: #d56154;
}

.auxiliary-search {
  display: flex;
  position: relative;
}
.auxiliary-search .select {
  color: #fff;
  display: flex;
  min-width: 170px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.125rem;
  cursor: pointer;
  font-weight: 700;
}
.auxiliary-search input,
.auxiliary-search ul {
  visibility: hidden;
  width: 0;
  height: 0;
}
.auxiliary-search input {
  position: absolute;
}
.auxiliary-search .focus,
.auxiliary-search .focus + ul {
  visibility: visible;
  width: 100%;
  height: auto;
}
.auxiliary-search.ingredients-color .select {
  background-color: #3180f6;
}
.auxiliary-search.ingredients-color .select:hover {
  background-color: #3176dd;
}
.auxiliary-search.appliance-color .select {
  background-color: #68d9a4;
}
.auxiliary-search.appliance-color .select:hover {
  background-color: #68c399;
}
.auxiliary-search.ustensils-color .select {
  background-color: #ed6454;
}
.auxiliary-search.ustensils-color .select:hover {
  background-color: #d56154;
}

.result-card {
  height: 380px;
  width: 364px;
  border-radius: 5px;
  background-color: #c6bebe;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.result-card__content {
  background-color: #e8e8e8;
  flex: 1;
  padding: 0.75rem;
  height: calc(100% - 180px);
}
.result-card__content__head {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.result-card__content__head h2 {
  font-weight: 400;
  font-size: 1em;
}
.result-card__content__head .timer {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.result-card__content__body {
  font-size: 0.75rem;
  display: flex;
}
.result-card__content__body ul,
.result-card__content__body p {
  width: 50%;
}
.result-card__content__body li {
  line-height: 1.2;
}
.result-card__content__body p {
  line-height: 1.2;
}

/*# sourceMappingURL=style.css.map */
