@use '../abstracts/' as *;

body {
  padding-top: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: $font-primary, sans-serif;
}

main {
  margin-top: 1rem;
}

::placeholder {
  opacity: 0.75;
}

.filter-tags {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.auxiliary-search-group {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: start;
  max-width: 1200px;
  position: absolute;
}

.result-group {
  margin: 6.5rem 0 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  gap: 3rem;
}
