@use '../abstracts/' as *;

.auxiliary-search {
  display: flex;
  position: relative;

  .select {
    color: #fff;
    display: flex;
    min-width: 170px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.125rem;
    cursor: pointer;
    font-weight: 700;
  }

  input,
  ul {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  input {
    position: absolute;
  }

  .focus,
  .focus + ul {
    visibility: visible;
    width: 100%;
    height: auto;
  }

  &.ingredients-color {
    .select {
      @include tag-background($color-accent-first);
    }
  }
  &.appliance-color {
    .select {
      @include tag-background($color-accent-second);
    }
  }
  &.ustensils-color {
    .select {
      @include tag-background($color-accent-third);
    }
  }
}
