@use '../abstracts/' as *;

body {
  padding-top: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: $font-primary, sans-serif;
}

main {
  margin-top: 1rem;
}

::placeholder {
  opacity: 0.75;
}

.filter-tags {
  margin: 1.5rem 0;
  display: flex;
  gap: 1rem;
}

.auxiliary-search-group {
  display: flex;
  gap: 1rem;
}

.result-group {
  margin: 1.5rem 0;
}
