/* Dimensionnement des box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Supprime le margin par défaut */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Défini les valeurs par défaut du root */
html:focus-within {
  scroll-behavior: smooth;
}

/* Défini les valeurs par défaut du body*/
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* facilite l'utilisation des images*/
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Hérite des polices pour les inputs et les boutons */
input,
button,
textarea,
select {
  font: inherit;
  border: 0;
  background: inherit;
}

/* Supprime les icônes  de base pour la saisie  recherche */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* pas de couleur + Supprime le soulignement sur les liens */
a {
  text-decoration: none;
  color: inherit;
}

/*  Suppression du style  et padding sur  ul*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Supprime tout les animations, transitions  pour les personnes qui préfèrent ne pas les voir */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
