// couleurs
$color-title-400: hsl(0, 58%, 56%);

$color-background-300: hsl(0, 0%, 91%);
$color-background-500: hsl(0, 7%, 76%);
$color-accent-first: hsl(216, 92%, 58%);
$color-accent-second: hsl(152, 60%, 63%);
$color-accent-third: hsl(6, 81%, 63%);

// polices
$font-title: 'DM Sans';
$font-primary: 'Lato';
$font-content: 'Roboto';
